@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&family=VT323&display=swap');

* {box-sizing: border-box;}

nav {
    border-bottom:1px solid black;
    padding: 16px;
    background-color:#ff5f39;
}

.nav-bar {
    display: flex;
    justify-content: center;
    gap:2em;

}

body {
    padding:0%;
    padding-bottom:0%;
    margin: 0%;
    width: 100%;
    font-family: "VT323";
}

main {
    padding: 16px;
}

.recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: baseline;
  }

@media (width < 1000px) {
    .recipes {
        grid-template-columns: 1fr 1fr;
    }
}

@media (width < 500px) {
    .recipes {
        grid-template-columns: 1fr;
    }
}

.previews {
    height: 200px; width: 200px; overflow: hidden;
}

tbody:nth-child(odd) {
    background-color: lightgray;
}

footer {
    padding: 25px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    font-size: 1.25em;
    background-color: #afd36f;
}

h1 {
    color: #026253;
}


nav a:link {
    color:#ffffff;
}

nav a:visited {
    color:#ffffff;
}

nav a:active {
    color:#ffffff;
}

nav a:hover {
    color:#ffffff;
}

a:link {
    text-decoration: none;
    color:#00af17;
}
a:visited {
    text-decoration: none;
    color:#007c11;
}
a:hover {
    text-decoration: none;
    color:rgb(0, 161, 0)
}
a:active {
    text-decoration: none;
    color:#3a8244;
}

.error-page {
    height: 100vw;
    background-color: #bbbdaf;
}
